{% extends 'layout.html' %}
{%block title%}Algorithms{% endblock %}
{%block page_title %}
    <h1 class = 'main_title'>Algorithms</h1><br />
{% endblock %}

{% block page_content %}
    <p class = 'intro_body'>
    Since this isn't being used for anything else.... <br />
    <h3>Current Goals</h3>
    1) Make the website mobile-friendly<br />
      <span class = 'tab'></span> a) Have a single line menu bar that is togglable to all menu options<br />
    2) I WANT USER INTERACTION<br />
      <span class = 'tab'></span>a) Brainstorm<br />
      <span class = 'tab'></span>b) I'm thinking of giving Emmy my old Pygame code and converting it to JS<br />
    3) I WANT PICTURES<br />
      <span class = 'tab'></span>a) Find pictures of C++ shit<br />
    4) Add a little image logo in the tab header
    </p>
{% endblock %}
